$card-height: 300px;

:host {
  display: block;

  mat-card.card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: $card-height;
    background-color: lightblue;

    &:hover {
      background-color: lightgreen;
    }

    mat-card-content {
      display: flex;
      height: $card-height - 50px;
      justify-content: center;
      align-items: center;

      img.logo {
        width: 150px;
        height: fit-content;
      }
    }
  }
}
