:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;

  .libraries {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
    margin: 24px;

    .card {
      display: flex;
      flex-direction: column;
      width: 250px;
      height: 300px;
      background-color: lightblue;

      img {
        width: 150px;
        margin: 12px;
        align-self: center;
      }

      mat-card-content {
        position: absolute;
        bottom: 16px;
        width: inherit;
      }
    }
  }
}
